<div class="row">
    <div class="col">
        @Camera.Name
    </div>
    <div class="col text-right">
        @($"{Camera.Price:0.00}")
    </div>
    <div class="col"></div>
    <div class="col">
        <img src="@lensImage(Camera.Lens)"
        alt="@Camera.Lens" />
    </div>
    <div class="col">
        <button class="@ButtonClass"
            @onclick="@(() => Selected.InvokeAsync(Camera))">
            @ButtonTitle
        </button>
    </div>
</div>

